:root {
    /* Pallet */
    --clr-1: #079ab4;
    --clr-2: #31bc72;
    /* BP */

}

* {
    box-sizing: border-box;
    border: 0;
}

/* TYPOGRAPHY */
@font-face {
    font-family: 'FuzzyBubbles-Bold';
    src: url(./../fonts/Handwriting/FuzzyBubbles-Bold.ttf);
}

@font-face {
    font-family: 'Merriweather';
    src:  url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

}

html {
    font-size: 12px;
}

/* BASICS */

body {
    /* margin: 0; */
    background-color: #23252c;
    height: 100vh;
}


/* LAYOUT */


/* HELPERS */


/* flex helpers */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

/* grid helpers */

.grid {
    display: grid;
}

/* Header */
.head {
    width: 95%;
    height: 75px;
    background: linear-gradient(90deg, var(--clr-1), var(--clr-2));
    font-size: 1.5rem;
    color: white;
    font-family: FuzzyBubbles-Bold;
}

.nav-bar{
    width: 100%;
}

.logo {
    font-size: 2rem;
    padding-left: 3%;
    width: 65%;
}

.gallery-btn {
    background: fixed;
    border: 0;
}

.head-btn {
    cursor: pointer;
}


emoji-picker {
    width: 100%;
    height: 20%;
}


.emojis-container{
    padding: 0;
}

.emojis-container > *{
    list-style: none;
    font-size: 1.8rem;
    cursor: pointer;
}

.clicked {
    background: rgba(217, 217, 217, 0.598);
    font-size: 1.8rem;
    border-radius: 5px;
}

.head-btn:hover {
    background-color: #00880c79;
    cursor: pointer;
    border-radius: 10px;
}


/* MAIN */

.main-gallery-container {
    background-color: #393b42;
    width: 95%;
    padding: 30px;
    border-radius: 15px;
    margin-top: 2vh;
}

/* SCROLLER */

.scroller {
    scrollbar-width: thin;
    scrollbar-color: #1eaa94 #22252c;
    overflow-y: scroll;
}
.scroller::-webkit-scrollbar {
    width: 16px;
}

.scroller::-webkit-scrollbar-track {
    background: #393b42;
    border-radius: 13px;
}

.scroller::-webkit-scrollbar-thumb {
    background-color: #1eaa94;
    border-radius: 13px;
    border: 1px solid #393737;
}


/* meme editor */

.meme-editor-container {
    flex-direction: column;
    height: 150vh;
    justify-content: space-evenly;
}

.a-tag{
    text-decoration: none;
    color: white;
}

.edit-item {
    height: 400px;
    width: 400px;
    background-color: #373b41;
    border-radius: 10%;
    margin: 15px 0;
}

.edit-section {
    width: 100%;
    padding: 3%;
}

.text-editor-input {
    font-size: 2.1875rem;
    width: 95%;
    border-radius: 30px;
    text-align: center;
    font-family: 'Merriweather';
}


.update-text-stracture-btns {
    width: 100%;
    margin: 10px 4px;
}

.text-stracture-icon {
    max-width: 55px;
    max-height: 55px;
}

.text-stracture-btn {
    border-radius: 10px;
    cursor: pointer;
} 

.text-stracture-btn:hover{
    opacity: 85%;
}



.switch-lines, .drag-down , .drag-up{
    background: linear-gradient(rgb(73, 208, 253), rgb(0, 64, 255));
}

.add-line {
    background: linear-gradient(#3ddb72, rgb(0, 114, 0));
}

.delete-meme {
    background: linear-gradient(rgb(246, 101, 98), rgb(156, 0, 0));
}

.style-icon {
    max-width: 50px;
    max-height: 50px;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    box-shadow: 0px 3px 5px 0px rgb(82, 82, 82);
    z-index: 3;
}

.style-icon:hover{
    opacity: 85%;
    cursor: pointer;
}


.text-style-editor {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "up-btn up-btn up-btn up-btn up-btn"
        "down-left-btn down-middle down-right"
    ;
    width: 100%;
    height: 40%;
    background-color: #17a5a0;
    border-radius: 30px;
    gap: 2px;
}

.increase-font {
    grid-area: up-btn;
    grid-column: 1;
    grid-row: 1;
}

.decrease-font {
    grid-area: up-btn;
    grid-column: 2;
    grid-row: 1;
}

.align-to-left {
    grid-area: up-btn;
    grid-column: 3;
    grid-row: 1;
}

.align-center {
    grid-area: up-btn;
    grid-column: 4;
    grid-row: 1;
}

.align-to-right {
    grid-area: up-btn;
    grid-column: 5;
    grid-row: 1;
}

.fonts {
    grid-area: down-left-btn;
    grid-column: 1/4;
    grid-row: 2;
    font-size: 1.5em;
    border-radius: 30px;
    text-align: center;
    margin: 10px;
}

.label-style-icon {
    display: grid;
    align-items: center;
    justify-items: center;
}

.fonts {
}

.share-download {
    width: 100%;
    min-height: 15%;

}

.bottom-btn {
    cursor: pointer;
    border-radius: 10px;
    color: white;
    width: 25%;
    padding: 8px;
    font-size: 1.2em;
    gap: 2px;
    height: 70%;
    font-family: 'Merriweather';
}

.bottom-btn:hover{
    opacity: 85%;
}

.share-btn {
    background: linear-gradient(deepskyblue, rgb(43, 97, 233))
}

.share-container {
    background-color: #fff;
    font-size: 1.5em;
}

.user-msg {
    color: white;
    font-size: 1.2em;
}

.download-btn {
    background: linear-gradient(rgb(223, 113, 245), purple);
}

.save-meme{
    background: linear-gradient(deepskyblue, rgb(43, 97, 233))
}

.save-icon{
    height: 1.2rem;
}

/* canvas */


.canvas-container {
    width: 350px;
    height: 350px;
}

.hide {
    display: none;
}

/* gallery area */

.images-gallery {
    /* width: 100%; */
}


.filter-by-key {
    width: 100%;
}

.gallery-item {
    width: 100%;
}

.menu-first-section {
    width: 100%;
}

.menu-second-section {
    width: 100%;
}

.choose-from-txt {
    background-color: #87898d;
    color: white;
    width: 77%;
    height: auto;
}

.menu-btn {
    background: linear-gradient(90deg, var(--clr-1), var(--clr-2));
    width: 18%;
    height: 3.5rem;
    cursor: pointer;
    min-width: max-content;
}

.btn-humburger {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 36px;
    color: var(--clr1);
    background: fixed;
    z-index: 15;
    border-radius: 6px;
    margin-right: 2%;
    cursor: pointer;
}

.menu-area-item {
    border-radius: 30px;
    font-size: 1.5rem;
    padding: 5px;
    margin-bottom: 10px;
    font-family: 'Merriweather';
}

.menu-area-item.search-photo-input {
    width: 100%;
    height: 4rem;
    padding-left: 5%;
}


.menu-area {
    margin-bottom: 3%;
}


.gallery-area {
    display: grid;
    width: 100%;
    height: 90%;
    gap: 10px;
    object-fit: cover;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(auto-fill, 1fr); */
    justify-items: center;
}

.grid-img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
    border-radius: 10px;
}
.grid-img:hover{
    /* box-shadow: 1px 2px 2px 1px rgb(0, 0, 0); */
    opacity: 80%;
}

/* Saved-memes area */

.saved-memes-container {
    margin-top: 50px;
    height: 100%;
    width: 100%;
}

.saved-meme {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 4px 2px rgb(182, 182, 182);
}


footer{
    margin: 0;
    margin-top: 20px;
    background: linear-gradient(90deg, var(--clr-1), var(--clr-2));
    font-size: 1.5rem;
    color: white;
    width: 95%;
    border-radius: 50px;
    height: 100px;
    padding: 4px;
}

footer > .icon{
    width: 50px;
    height: 50px;
}

.p-container{
    text-align: center;
    margin: 5px;
}


.icons-container{
    margin: 5px;
    gap: 20px;
}
/* SMALL */

@media (min-width:420px) {

    .saved-meme {
        width: 190px;
        height: 190px;
    }

    .nav-area {
        flex-basis: 50%;
    }
    

    .gallery-area {
        gap: 15px;
        grid-template-columns: repeat(2, 1fr);
    }

    body {
        height: 100vh;
        /* here */
        justify-content: space-evenly;
    }

    .meme-editor-container {
        height: 100vh;
        width: 100%;
    }

    .canvas-container {
        width: 400px;
        height: 400px;
    }

    .edit-section {
        width: 400px;
        height: 400px;
    }

    .menu-area-item {
        border-radius: 30px;
        font-size: 1.8rem;
        padding: 5px;
        /* width: 100%; */
        margin-bottom: 10px;
    }

    .more-btn {
        background: linear-gradient(90deg, var(--clr-1), var(--clr-2));
        width: 18%;
        height: fit-content;
        min-height: 3rem;
    }
}


@media (min-width:620px){
    .canvas-container {
        height: 400px;
        width: 400px;
    }

    .edit-section {
        height: 400px;
        width: 400px;
    }
}


@media (max-width:840px) {

    body.open-menu.nav-links {
        pointer-events: auto;
        flex-direction: column;
        transition: .6s;
    }
    
    body.open-menu .nav-links {
        border-radius: 0 0 0 15px;
        transform: translateY(163px);
        transition: .6s;
        align-items: center;
        background: linear-gradient(var(--clr-1), var(--clr-2));
        height: 250px;
    }

    .nav-links {
        width: calc(40%);
        position: absolute;
        transform: translateY(calc(-90*3px));
        right: calc(10px + 2%);
        overflow: hidden;
        z-index: 10;
        opacity: 100%;
        flex-direction: column;
        transition: .6s;
    }
}

/* MEDIUM */

@media (min-width:840px) {

    .saved-meme {
        width: 300px;
        height: 300px;
    }

    html {
        font-size: 14px;
    }

    body {
        height: 100vh;
        justify-content: space-evenly;
    }

    .nav-links {
        flex-direction: row;
    }

    .btn-humburger {
        display: none;
    }

    .gallery-area {
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    .menu-area {
        flex-direction: row;
    }

    .menu-first-section {
        width: 45%;
    }

    .head {
        width: 95%;
        height: 75px;
        background: linear-gradient(90deg, var(--clr-1), var(--clr-2));
        border-radius: 50px;
        font-size: 1.5rem;
        color: white;
        font-family: FuzzyBubbles-Bold;
    }
    .nav-bar.head{
        width: 100%;
    }

    .menu-second-section {
        width: 52%;
    }

    .choose-from-txt {
        width: 77%;
        min-height: 3rem;
        height: auto;
    }

    .canvas-container {
        width: 400px;
        height: 400px;
    }

    .edit-section {
        width: 400px;
        height: 400px;
    }

    .meme-editor-container {
        flex-direction: row;
        height: 550px;
        width: 100%;
    }

    .edit-item {
        padding: 4px;
    }

    .text-style-editor {
        height: 50%;
    }

    .bottom-btn {
        border-radius: 8px;
        color: white;
        width: 25%;
        padding: 4px;
        font-size: 1.2em;
    }
}

/* LARGE */

@media (min-width:1020px) {

    html {
        font-size: 16px;
    }

    body {
        height: 100vh;
    }

    .gallery-area {
        gap: 30px;
        grid-template-columns: repeat(5, 1fr);
    }

    .meme-editor-container {
        flex-direction: row;
    }

    .canvas-container {
        width: 500px;
        height: 500px;
    }

    .edit-section {
        width: 500px;
        height: 500px;
        background-color: #373b41;
        border-radius: 10%;
    }

    .text-style-editor {
        height: 30%;
    }

    .nav-area {
        flex-basis: 40%;
    }
    
    .bottom-btn {
        border-radius: 10px;
        color: white;
        width: 28%;
        padding: 8px;
        font-size: 1.2em;
    }
}