:root {
    /* Pallet */
    --clr-1: #079ab4;
    --clr-2: #31bc72;
    /* BP */

}

* {
    box-sizing: border-box;
}

/* TYPOGRAPHY */
@font-face {
    font-family: 'FuzzyBubbles-Bold';
    src: url(/fonts/Handwriting/FuzzyBubbles-Bold.ttf);
}

html {
    font-size: 12px;
}

/* BASICS */

body {
    /* margin: 0; */
    background-color: #23252c;
    height: 100vh;

}


/* LAYOUT */


/* HELPERS */


/* flex helpers */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

/* grid helpers */

.grid {
    display: grid;
}

/* Header */
.head {
    width: 95%;
    height: 75px;
    background: linear-gradient(90deg, var(--clr-1), var(--clr-2));
    border-radius: 50px;
    font-size: 1.5rem;
    color: white;
    font-family: FuzzyBubbles-Bold;
}

.logo {
    font-size: 2rem;
    padding-left: 10%;
}

.gallery-btn {
    background: fixed;
    border: 0;
}

.nav-area {
    flex-basis: 50%;
}

/* MAIN */

.main-container {
    background-color: #393b42;
    width: 95%;
    padding: 30px;
    border-radius: 15px;
}

/* meme editor */

.meme-editor-container {
    flex-direction: column-reverse;
    height: 550px;
    width: 100%;
}

.edit-item {
    height: 100%;
    width: 45%;
    background-color: #373b41;
    border-radius: 10%;
}

.edit-section {
    width: 100%;
    padding: 3%;
}

.text-editor-input {
    font-size: 2.1875rem;
    width: 95%;
    border-radius: 30px;
    text-align: center;
}

.text-style-editor {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 30%;
    background-color: #17a5a0;
    border-radius: 30px;
}

.style-icon {
    max-width: 50px;
    max-height: 50px;
    border-radius: 10px;
    border: 0;
    background-color: white;
    box-shadow: 0px 3px 5px 0px rgb(82, 82, 82);
}


.canvas-container {
    width: 100%;
    height: 100%;
}

.hide {
    display: none;
}

/* gallery area */

.images-gallery {
    /* width: 100%; */
}

.gallery-item {
    width: 100%;
}

.menu-first-section {
    width: 100%;
}

.search-photo-input {
    width: 100%;
    height: 4rem;
}

.menu-second-section {
    width: 100%;
}

.choose-from-txt {
    background-color: #87898d;
    color: white;
    width: 77%;
    height: auto;
}

.more-btn {
    background: linear-gradient(90deg, var(--clr-1), var(--clr-2));
    width: 18%;
    height: 2.5rem;
    min-width: max-content;
}


.menu-area-item {
    border-radius: 30px;
    font-size: 1.5rem;
    padding: 5px;
    /* width: 100%; */
    margin-bottom: 10px;
}

.menu-area {
    margin-bottom: 3%;
}


.gallery-area {
    display: grid;
    width: 100%;
    height: 90%;
    gap: 10px;
    object-fit: cover;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(auto-fill, 1fr); */
    justify-items: center;
}

.grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* SMALL */

@media (min-width:420px) {

    .gallery-area {
        gap: 15px;
        grid-template-columns: repeat(2, 1fr);
    }

    .canvas-container {
        width: 100%;
        height: 100%;
    }
    .menu-area-item {
        border-radius: 30px;
        font-size: 1.8rem;
        padding: 5px;
        /* width: 100%; */
        margin-bottom: 10px;
    }
    .more-btn {
        background: linear-gradient(90deg, var(--clr-1), var(--clr-2));
        width: 18%;
        height: fit-content;
        min-height: 3rem;
        /* min-width: max-content; */
    }
}

/* MEDIUM */

@media (min-width:840px) {
    html {
        font-size: 14px;
    }

    .gallery-area {
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }

    .menu-area {
        flex-direction: row;
    }

    .menu-first-section {
        width: 45%;
    }

    .menu-second-section {
        width: 52%;
    }

    .choose-from-txt {
        width: 77%;
        min-height: 3rem;
        height: auto;
    }

    .canvas-container {
        width: 400px;
        height: 400px;
    }

    .meme-editor-container {
        flex-direction: row;
    }
}

/* LARGE */

@media (min-width:1020px) {
    html {
        font-size: 16px;
    }

    .gallery-area {
        gap: 30px;
        grid-template-columns: repeat(5, 1fr);
    }

    .meme-editor-container {
        flex-direction: row;
    }

    .canvas-container {
        width: 500px;
        height: 500px;
    }

    .edit-item {
        height: 100%;
        width: 45%;
        background-color: #373b41;
        border-radius: 10%;
    }
    .text-style-editor {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "up-btn up-btn up-btn up-btn up-btn"
        "down-left-btn down-middle down-right"
        ;
        gap: 15px;
        width: 100%;
        height: 30%;
        background-color: #17a5a0;
        border-radius: 30px;   
    }

    
}