:root {
    /* Pallet */
    --clr-1:#079ab4;
    --clr-2:#31bc72;
    /* BP */

}

* {
    box-sizing: border-box;
    font-size: x-large;
}

/* TYPOGRAPHY */

/* BASICS */

body {
    /* margin: 0; */
    background-color: #23252c;
    height: 100vh;
}


/* LAYOUT */


/* HELPERS */


/* flex helpers */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

/* grid helpers */

.grid {
    display: grid;
}

/* Header */
.head {
    width: 95%;
    height: 75px;
    background: linear-gradient(90deg, var(--clr-1), var(--clr-2));
    border-radius: 50px;
}

.logo {
    font-size: 36px;
    padding-left: 10%;
}

.nav-area {
    flex-basis: 50%;
}

/* MAIN */

.main-container{
    background-color: #393b42;
    width: 95%;
    padding: 30px;
    border-radius: 15px;
}

/* meme editor */

.meme-editor {
    height: 550px;
    width: 100%;
}

.edit-item {
    height: 100%;
    width: 45%;

    background-color: #373b41;
    border-radius: 10%;
}

.edit-section{

}

.text-editor-input{
    font-size: 35px;
    width: 95%;
    border-radius: 30px;
    text-align: center;
}


.hide {
    display: none;
}

/* gallery area */

.images-gallery {
    /* width: 100%; */
}

.gallery-item {
    width: 100%;
}


.search-photo-input {
    width: 40%;
}

.menu-area-item {
    border-radius: 30px;
    font-size: larger;
    padding: 5px;
    margin-bottom: 10px;
}

.choose-from-txt {
    background-color: #87898d;
    color: white;
    font-size: xx-large;
}

.gallery-area{
    display: grid;
    width: 100%;
    height: 90%;
    gap: 30px;
    object-fit: cover;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(auto-fill, 1fr); */
    justify-items: center;
}

.grid-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}